<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings"
                  type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EveSwaggerInterfaceClient.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <EveSwaggerInterfaceClient.Properties.Settings>
      <setting name="LoginServerBaseUrl" serializeAs="String">
        <value>https://login.eveonline.com/oauth</value>
      </setting>
      <setting name="ClientID" serializeAs="String">
        <value>c496b49614054152b2ce02e859714a0e</value>
      </setting>
      <setting name="ClientSecret" serializeAs="String">
        <value>oGSeVESljDfVwF0ZA3rl252biWKkKOFxbmMGqKYZ</value>
      </setting>
      <setting name="TestKey" serializeAs="String">
        <value>TestValue</value>
      </setting>
    </EveSwaggerInterfaceClient.Properties.Settings>
  </applicationSettings>
</configuration>